.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  background: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(4px);
  z-index: 2;
}

.searchInputContainer {
  width: unset;
}

.modal {
  top: 0;
  width: 688px !important;
  padding-bottom: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-grey50);
  padding: 16px;
  border-bottom: 1px solid var(--color-grey16);
  position: sticky;
  top: 0px;
  background: #ffffff;
  border-radius: 16px 16px 0px 0px;
  z-index: 100;
}

.closeIcon {
  display: flex;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  padding: 24px 64px;
  row-gap: 48px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  height: 80px;
  padding: 16px;
  border-top: 1px solid #e8e5e3;
  background: #ffffff;
  column-gap: 4px;
}

.modalWrap {
  top: 48px !important;
}

.row1 {
  display: flex;
  justify-content: space-between;
}

.modal :global(.ant-modal-content) {
  padding: 0;
  border-radius: 16px;
}

.row1 :global(.ant-input-affix-wrapper) {
  width: 383px !important;
}

.blockContainer {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.blockTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey50);
}

.rowTitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--color-grey20);
  white-space: nowrap;
}

.row2 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.chipsContainer {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.rangeInputsRow {
  display: flex;
  column-gap: 32px;
}

.rangeInputContainer {
  width: 100%;
}

.switchContainer {
  display: flex;
  flex-direction: column;
}

.switch {
  display: flex;
  align-items: center;
  height: 48px;
  column-gap: 16px;
}

@media screen and (max-width: 1024px) {
  .filtersContainer {
    padding: 20px 32px;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    position: unset;
    margin: 0;
    width: 100% !important;
    max-width: 100%;
    padding-bottom: 0px;
  }

  .modalWrap {
    top: 0 !important;
  }

  .filtersContainer {
    padding: 20px 16px;
  }

  .header {
    border-radius: 0px;
  }

  .footer {
    border-radius: 0px;
  }

  .flexColumn {
    flex-direction: column;
    row-gap: 16px;
  }

  .filtersContainer {
    row-gap: 32px;
  }

  .blockContainer {
    row-gap: 16px;
  }

  .rangeInputsRow {
    column-gap: 16px;
  }

  .row1 {
    flex-direction: column;
    row-gap: 16px;
  }

  .row1 :global(.ant-input-affix-wrapper) {
    width: 100% !important;
    margin-left: 0px;
  }
}
