.container {
  display: flex;
  align-items: center;
  column-gap: 8px;
  width: 50%;
  min-width: 272px;
  height: 48px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--color-grey20);
}

.value {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-grey30);
  margin-top: 4px;
}

.disabledText {
  color: var(--color-grey20);
}
