.container {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
  background: var(--color-grey10);
  border-radius: 16px;
  width: 100%;
  padding: 16px;
}

.iconContainer {
  width: 48px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey50);
}

.subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--color-grey20);
}
