.block {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  row-gap: 8px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey50);
}

.locationRowContainer {
  display: flex;
  align-items: center;
}

.mapContainer {
  width: 100%;
  height: 204px;
  margin-top: 16px;
  border-radius: 16px;
  overflow: hidden;
  isolation: isolate;
  background: var(--color-grey16);
}

.mapContainer :global(.ymaps-2-1-79-copyright) {
  visibility: hidden;
}

.mapContainer :global(.ymaps-2-1-79-map-copyrights-promo) {
  visibility: hidden;
}

.skeletonMainContainer {
  margin-top: 32px;
}

.skeletonContainer {
  display: flex;
  justify-content: space-between;
}

.skeletonBlock {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 50%;
}

.right {
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 15px;
  }
}
